<h1>Joke</h1>
<h3>Random joke!</h3>
<p>Author: {{joke.reference.author}}</p>
<p>Joke: {{joke.joke}}</p>
<p>Total number of random jokes: {{jokeCount}}</p>
<a href="/" class="btn btn-default">Go back</a>